/* src/components/LoginForm.css */

root {
  margin-bottom: 500px;
}

p {
  color: #505050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

body {
  background-color: #f1f1f1;
}

.login-container {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 100px;
  margin-bottom: 150px;
}

.login-form {
  background: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form .Title-Login {
  text-align: center;
  margin-bottom: 20px;
  color: #347928;
  font-weight: 600;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}

.input-group-login {
  margin-bottom: 15px;
}

.input-group-login label {
  color: darkslategrey;
  display: block;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.input-group-login input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #347928;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
}

.back-button {
  background-color: #8a8a8a;
  color: rgb(2, 2, 2);
  font-weight: 300;
}

.button:hover {
  background-color: #399918;
}

.back-button:hover {
  background-color: #505050;
  font-weight: 700;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.signup {
  color: #347928;
  transition: transform 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.signup:hover {
  background-color: #347928;
  border-radius: 20px;
  color: #fff;
  font-weight: 300;
  padding: 3px 6px;
  transform: scale(1.1);
}
